{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block body %}
<div class="content-section">
  <br/>
  {{ utils.flashed_messages() }}
  <br/>
  <div class="center">
    <h1>Register</h1>
    <br/>

    <form action="/register" method="POST"
          oninput='confirm.setCustomValidity(confirm.value != password.value ? "Passwords do not match." : "")'>
      <label class="h5 control-label">Email</label> <br>
      <input class="form-control" name="email" type="email" value="" minlength="8" maxlength="50" required> <br>
      <label class="h5 control-label">Password</label> <br>
      <input class="form-control" name="password" type="password" value="" minlength="8" maxlength="50" required> <br>
      <label class="h5 control-label">Confirm Password</label> <br>
      <input class="form-control" name="confirm" type="password" value="" minlength="8" maxlength="50" required> <br>
      <br>
      <input class="btn btn-default" type="submit" value="Submit">
    </form>

  </div>
</div>
{% endblock %}
